<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title class="centered">About</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="page-container about">
    Η εφαρμογή "Pinto" αναπτύχθηκε από τον Κοροσίδη Αντώνη για τις ανάγκες της
    διπλωματικής του εργασίας με τίτλο "Συγκριτικη αναλυση δημοφιλων framework
    αναπτυξης εφαρμογων για φορητες συσκευες με χρηση τεχνολογιων web" στο ΠΜΣ
    Εφαρμοσμένης Πληροφορικής στο Πανεπιστήμιο Μακεδονίας.
  </div>
</ion-content>
