<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title class="centered">News</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card *ngFor="let newsItem of newsData" (click)="showDetails(newsItem)">
    <img src="assets/logo-hq.png" />
    <div class="news-info">
      <div class="title">{{newsItem.title}}</div>
      <div class="text">{{getItemText(newsItem.text)}}</div>
    </div>
  </ion-card>
</ion-content>
