.back {
    color: #fff;
    font-size: 24px;
    margin-left: 10px;
}

.news-info {
    padding: 15px;
}

.news-image {
    width: 100%;
    margin-bottom: 10px;
}

.title {
    color: var(--ion-color-secondary);
    font-size: 24px;
    margin-bottom: 20px;
}

.text {
    font-size: 18px;
}