.username {
    margin-bottom: 15px;
    font-size: 20px;
}

.pintos-label {
    margin-bottom: 40px;
    font-size: 32px;
    color: var(--ion-color-primary);
    font-weight: bold;
}

.pintos {
    margin-bottom: 40px;
    font-size: 72px;
    color: var(--ion-color-secondary);
    font-weight: bold;
    border: 5px solid var(--ion-color-secondary);
    padding: 30px 50px;
}

.qr-code-label {
    font-size: 20px;
}